<section data-ng-controller="ArticlesController">
<h1>New Article</h1>

<form data-ng-submit="create()" novalidate>
  <div>
    <label for="title">Title</label>
    <div>
      <input type="text" data-ng-model="title" placeholder="Title" required/>
    </div>
  </div>

  <div>
    <label for="content">Content</label>
    <div>
      <textarea rows="10" cols="30" data-ng-model="content" placeholder="Content" id="content"></textarea>
    </div>
  </div>

  <div>
    <input type="submit" />
  </div>

  <div data-ng-show="error">
    <strong data-ng-bind="error"></strong>
  </div>
</form>

</section>
