<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
  <h1>Edit Article</h1>
  <form data-ng-submit="update()" novalidate>
    <div>
      <label for="title">Title</label>
      <div>
        <input type="text" data-ng-model="article.title" id="title" placeholder="Title" required />
      </div>
    </div>

    <div>
      <label for="content">Content</label>
      <div>
        <textarea data-ng-model="article.content" placeholder="Content" id="content" rows="10" cols="30"></textarea>
      </div>
    </div>
  
    <div>
      <input type="submit" value="Update">
    </div>

    <div data-ng-show="error">
      <strong data-ng-show="error"></strong>
    </div>
  </form>
</section>
