<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
<h1 data-ng-bind="article.title"></h1>
<div data-ng-show="authentication.user._id == article.creator._id">
  <a href="/#!/articles/{{article._id}}/edit">Edit</a>
  <a href="/#!" data-ng-click="delete();">Delete</a>
</div>
<small>
  <em>Posted on</em>
  <em data-ng-bind="article.created | date:'mediumDate'"></em>
  <em>by</em>
  <em data-ng-bind="article.creator.fullName"></em>
</small>
<p data-ng-bind="article.content"></p>
</section>
