<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <section ng-view></section>

    <script type="text/javascript" charset="utf-8">
      window.user = <%- user || 'null' %>
    </script>

    <script src="/socket.io/socket.io.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/angular/angular.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/angular-route/angular-route.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/angular-resource/angular-resource.js" type="text/javascript" charset="utf-8"></script>

    <script src="/example/example.client.module.js" type="text/javascript" charset="utf-8"></script>
    <script src="/example/controllers/example.client.controller.js" type="text/javascript" charset="utf-8"></script>
    <script src="/example/routes/example.client.routes.js" type="text/javascript" charset="utf-8"></script>

    <script src="/articles/config/articles.client.module.js" type="text/javascript" charset="utf-8"></script>
    <script src="/articles/controllers/articles.client.controller.js" type="text/javascript" charset="utf-8"></script>
    <script src="/articles/services/articles.client.service.js" type="text/javascript" charset="utf-8"></script>
    <script src="/articles/config/articles.client.routes.js" type="text/javascript" charset="utf-8"></script>

    <script src="/users/users.client.module.js" type="text/javascript" charset="utf-8"></script>
    <script src="/users/services/authentication.client.service.js" type="text/javascript" charset="utf-8"></script>

    <script src="/chat/chat.client.module.js" type="text/javascript" charset="utf-8"></script>
    <script src="/chat/services/socket.client.service.js" type="text/javascript" charset="utf-8"></script>
    <script src="/chat/controllers/chat.client.controller.js" type="text/javascript" charset="utf-8"></script>
    <script src="/chat/config/chat.client.routes.js" type="text/javascript" charset="utf-8"></script>

    <script src="/application.js" type="text/javascript" charset="utf-8"></script>
  </body>
</html>
