<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
  </head>
  <body>
    <% for(var i in messages) { %>
    <div class="flash">
      <%= messages[i] %>
    </div>
    <% } %>

    <form action="/signin" method="post" accept-charset="utf-8">
      <div>
        <label for="username">Username:</label>
        <input type="text" name="username" />
      </div>

      <div>
        <label for="password">Password</label>
        <input type="text" name="password" />
      </div>
    
      <p><input type="submit" value="Sign In"></p>
    </form>
    <a href="/oauth/facebook">Sign in with Facebook</a>
    <a href="/oauth/twitter">Sign in with Twitter</a>
  </body>
</html>
